* {
  font-family: "Zen Antique", serif;
}

.panel {
  margin: 20px auto 0;
}

.panel.scroll {
  height: auto;
  max-height: 475px;
  overflow: auto;
}

.panel-header,
.panel-footer {
  background: #3496ff;
}

.panel-header,
.panel-body,
.panel-footer {
  border: 1px solid #3496ff;
}

.panel-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.panel-body {
  background: #f9f9f9;
}

.panel-body .item {
  margin: 0;
}

.panel-footer {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.panel-footer .buttons {
  width: 230px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
