* {
  font-family: "Zen Antique", serif;
}

body {
  position: relative;
}

.form-control-plaintext {
  border: solid #ced4da !important;
  border-width: 1px 0 !important;
}

form[name="Create Request"] {
  margin: 0;
}

.dropdown-item:hover {
  color: #fff !important;
  background: #007bff !important;
}

/* Spinner Loader */
.overlay {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}

.spinner-border {
  width: 4rem !important;
  height: 4rem !important;
}

/* Panel */
.panel {
  margin: 20px auto 0;
}

.panel-header,
.panel-footer {
  background: #3496ff;
}

.panel-header,
.panel-body,
.panel-footer {
  border: 1px solid #3496ff;
}

.panel-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.panel-body {
  background: #f9f9f9;
  min-height: 100px;
  height: auto;
  max-height: 350px;
  overflow: auto;
}

.panel-body .item {
  margin: 0;
}

.panel-footer {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.panel-footer .buttons {
  width: 240px;
}

.list-group:not(.list-group-flush) .list-group-item:first-child {
  border-bottom: none !important;
}

.list-group-flush .list-group-item:last-child {
  border-bottom: none !important;
}

.list-group:not(.list-group-flush) .list-group-item:first-child:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.no-bg {
  background: none !important;
}

.request-link {
  position: absolute;
  top: 0;
  right: 0;
}

.options {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0;
}

.options .btn:first-child {
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.options .btn:last-child {
  border-radius: 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

/* Skeleton Loader */
.skeleton-wrapper {
  position: relative;
}

.skeleton * {
  background: #d2dbe2 !important;
  border-radius: 0.25em !important;
}

.skeleton .thumbnail {
  width: 100%;
  min-height: 200px;
}

.skeleton .form-control {
  border: none;
  transition: none;
}

.skeleton .text-sm,
.skeleton .text-md,
.skeleteon .text-lg {
  margin-bottom: 0.5em;
  min-height: 1rem;
}

.skeleton .text-sm {
  width: 40%;
}

.skeleton .text-md {
  width: 70%;
}

.shimmer-wrapper,
.shimmer {
  height: 100%;
}

.shimmer-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.shimmer {
  width: 50%;
  opacity: 0.2;
  background: rgba(238, 238, 238, 0.966);
  transform: skewX(-20deg);
  animation: loader 1s linear infinite;
}

@keyframes loader {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(150%);
  }
}
